<div class="row">
  <div class="col-12">
    <p-panel>
      <p-header style="text-align: center;">
        <h1>{{ titulo }}</h1>
      </p-header>
      <p-menubar [model]="items"></p-menubar>
      <p-table
        [columns]="cols"
        [value]="cursos"
        selectionMode="single"
        [(selection)]="selectedCurso"
        dataKey="id"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso let-columns="columns">
          <tr [pSelectableRow]="curso">
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.createAt | date: "mediumDate" }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div style="text-align: left;">
            Curso Seleccionado:
            {{
              selectedCurso
                ? selectedCurso.id + " - " + selectedCurso.nombre
                : "Ninguno"
            }}
          </div>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
<!-- Dialogo para Crear y Editar Cursos -->
<p-dialog [(visible)]="displayModal" [modal]="true">
  <form [formGroup]="cursoForm" (ngSubmit)="onGuardar()">
    <p-panel>
      <p-header style="text-align: center;">
        <b>Agregar Curso</b>
      </p-header>
      <div class="p-fluid forms-grid" style="margin: 1em 0;">
        <div>
          <div>ID Curso</div>
          <input pInputText disabled="true" type="text" formControlName="id" />
        </div>
        <div>
          <div>Nombre *</div>
          <input
            pInputText
            type="text"
            formControlName="nombre"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo Nombre Es Requerido"
            *ngIf="
              !cursoForm.controls['nombre'].valid &&
              cursoForm.controls['nombre'].dirty
            "
          ></p-message>
        </div>
      </div>
    </p-panel>
  </form>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="displayModal = false; onGuardar()"
      label="Aceptar"
      [disabled]="!cursoForm.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="displayModal = false; cursoForm.reset()"
      label="Cancelar"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
