<div class="p-grid">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmación"
    acceptLabel="Si"
    rejectLabel="No"
    icon="pi pi-exclamation-triangle"
  >
  </p-confirmDialog>
  <div class="p-col-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <span>{{ appName }}</span>
        <button
          pButton
          type="button"
          label="Alumnos"
          routerLink="alumnos"
          routerLinkActive="true"
          icon="pi pi-users"
        ></button>
        <button
          pButton
          type="button"
          label="Cursos"
          routerLink="cursos"
          routerLinkActive="true"
          icon="pi pi-folder"
          class="ui-button-success"
        ></button>
        <p-splitButton
          label="Examenes"
          routerLink="examenes"
          routerLinkActive="true"
          icon="pi pi-file"
          [model]="items"
          styleClass="ui-button-warning"
        ></p-splitButton>
      </div>

      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button
          pButton
          type="button"
          icon="pi pi-calendar"
          class="ui-button-success"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-times"
          class="ui-button-danger"
        ></button>
      </div>
    </p-toolbar>
  </div>
</div>
